#* ========================================================================
 * Copyright (c) 2009 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#
##
## Templates for subject html (not a page)
##

#foreach ( $sub in $subjects )

 #if ( $sub.friendlyName || $userSeesNames )
  <tr><td><a href="#subject" onClick="doSubjectAction('${sub.id}', '${item}')">${sub.id}</a></td>
       #if ( $sub.friendlyName )
         <td class="listnote">${sub.friendlyName}</td>
       #elseif ( $userSeesNames )
         <td class="listnote">${sub.name}</td>
       #end
     <td class="listnote">$!{sub.department}</td>
  </tr>
 #end

#end
