#####
##

{% set self = ansible_hostname %}
{% set selfck = self.split(".")[0] %}

# ----------------------------------------------------------------------
# local spreg apache port 443 config for {{ self }}  -  {{ selfck }}
# ----------------------------------------------------------------------
#

# rewrite sp-registry -> spreg
RewriteCond %{REQUEST_URI} ^/sp-registry*
RewriteRule ^/* /spreg/ [R=301,L]

ProxyPass /spreg ajp://localhost:8009/spreg

# browser authn
<LocationMatch /spreg/login>
  RequestHeader set Content-type application/xml
  AuthType shibboleth
  ShibRequireSession On
  require valid-user
  require user fox
  order allow,deny
  allow from all
</LocationMatch>

# browser authn secure
<LocationMatch /spreg/securelogin>
  RequestHeader set Content-type application/xml
  AuthType shibboleth
  ShibRequireSessionWith UWSECURE
  require valid-user
  order allow,deny
  allow from all
</LocationMatch>

# browser authn via google
<LocationMatch /spreg/googlelogin>
  RequestHeader set Content-type application/xml
  AuthType shibboleth
  ShibRequireSession On
  shibRequireSessionWith UWGOOGLE
  require valid-user
  order allow,deny
  allow from all
</LocationMatch>

# browser authn via incommon
<LocationMatch /spreg/incommonlogin>
  RequestHeader set Content-type application/xml
  AuthType shibboleth
  ShibRequireSession On
  shibRequireSessionWith DSBASIC
  require valid-user
  order allow,deny
  allow from all
</LocationMatch>

# cert client authn
<Location /spreg/ws/>
RequestHeader set Content-type application/xml
SSLRequireSSL
SSLVerifyClient require
SSLVerifyDepth 5
SSLOptions +StdEnvVars +ExportCertData
Options -MultiViews
order allow,deny
allow from all
</Location>



