#* ========================================================================
 * Copyright (c) 2013 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

##
## attr request
##


<div id="accessCtrlReqDialog" data-dojo-type="dijit/Dialog" title="Request access control for ${relyingPartyId}" ${hide}>
    <div class="dijitDialogPaneContentArea" data-dojo-type="dijit/layout/ContentPane" >

        <div style="float:right;font-size:.8em"><a href="https://wiki.cac.washington.edu/x/8wr-B" target="spghelp">help</a></div>
        <h3>Access Control</h3>
        <h4>Auto 2FA</h4>
        <ul class="iamlist">
            <li><label for="auto2fa_req">Enable Auto 2FA</label>
                <div class="dd">
                    <input id="auto2fa_req" dojoType="dijit/form/CheckBox"
                        #if(${accessCtrl.auto2FA}) checked #end
                    />
                    <input id="auto2fa_in" value="${accessCtrl.conditionalGroup}" type="hidden" aria-hidden="true" />
                </div>
            </li>
        </ul>
        <h4>Conditional Access</h4>
        <ul class="iamlist">
            <li><label for="conditional_req}">Enable Conditional Access</label>
                <div class="dd">
                    <input id="conditional_req" dojoType="dijit/form/CheckBox"
                        #if(${accessCtrl.conditional}) checked #end
                    />
                    <input id="conditional_in" value="${accessCtrl.conditional}" type="hidden" aria-hidden="true" />
                </div>
            </li>
            <li><div class="dd"><label for="conditional_group_req">Conditional Access Group:</label></div>
                <div class="dd">
                    <input data-dojo-type="dijit/form/TextBox" id="conditional_group_req" #if(${accessCtrl.conditional}) value="${accessCtrl.conditionalGroup}" #end /><div style="float:right;font-size:.8em"><a href="https://wiki.cac.washington.edu/x/jTCoAQ" target="spghelp"> help</a></div>
                    <input data-dojo-type="dijit.form.Textarea" id="conditional_group_in" value="${accessCtrl.conditionalGroup}" type="hidden" aria-hidden="true" />
                </div>
            </li>
            <li><label for="accessCtrl_req_exptext">Explain your need for the attributes: </label>
                <br>
                <textarea data-dojo-type="dijit.form.Textarea" cols="50" rows="10" id="accessCtrl_req_exptext" aria-label="reason for access control, required">Please provide the name and version of your SAML software.
                </textarea></li>
        </ul>




    </div>
    <div class="dijitDialogPaneActionBar">
        <button dojoType="dijit.form.Button" id="accessCtrlReqSaver" type="button" onClick="accessCtrl_reqAccessCtrl('${relyingPartyId}')">Save changes</button>
        <button dojoType="dijit.form.Button" type="button" onClick="iam_hideTheDialog('accessCtrlReqDialog')">Close</button>
    </div>


## not saved dialog

    <div id="accessCtrlNotSavedDialog" data-dojo-type="dijit/Dialog" title="Access Control request not sent" $hide>
        <h3>Your changes have not been saved.<p>Close anyway?</h3>
        <div class="dijitDialogPaneActionBar">
            <button dojoType="dijit.form.Button" type="button">Yes, close
                <script type="dojo/on" data-dojo-event="click">
          iam_hideTheDialog('accessCtrlNotSavedDialog');
          showHomePage();
        </script>
            </button>
            <button dojoType="dijit.form.Button" type="button">No, continue editing
                <script type="dojo/on" data-dojo-event="click">
           iam_hideTheDialog('accessCtrlNotSavedDialog');
           iam_showTheDialog('accessCtrlEditDialog');
        </script>
            </button>
        </div>
    </div>


</div>


