#* ========================================================================
 * Copyright (c) 2012-2013 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

## This edits only one editable policy  

#parse ( 'definitions.vm' )

#foreach ( $grp in $filterPolicyGroups )
 #if ( $grp.editable )
   #set ($group=$grp)
   #set ($gid=$group.id)
 #end
#end

<div id="attrEditDialog" dojoType="dijit/Dialog" title="Edit attributes for ${relyingPartyId}" $hide >

## <h3 style="margin-left:50px;margin-right:50px;">Attributes by $group.description</h3>
<form action="">

<h3>NameId format</h3>

<ul class="iamlist">

#set ( $policy = $filterPolicyManager.getFilterPolicy($group, $relyingPartyId))
#set ( $chkdef = $checked )
#foreach ( $attr in $attributes )
  #if ($attr.type == 'nameid' )
    ## see if policy exists for this sp and attr
    #if ($policy)
      #foreach ( $p in $policy.attributeRules )
       #if ($attr.id==$p.id) 
         #set ($chkdef = '')
       #end
      #end
    #end ## if policy
 #end ## if
#end ## foreach attr

  <li>
    <div class="dt dtcb"><input data-dojo-type="dijit.form.RadioButton" $chk  name="nameidb2" value="default" id="${gid}_attr_edit_chk_default"
           class="${gid}_attr_edit_chk" />
    </div>
    <h4 class="dd dt12" style="overflow:hidden"><label for="${gid}_attr_edit_chk_default">default</label>
       <input tabindex="-1" id="${gid}_attr_edit_chk_default_in" value="$chk" type="hidden" aria-hidden="true"></input>
    </h4>
    <div class="dd">
       Transient NameId
    </div>
  </li>
   



#foreach ( $attr in $attributes )
  #if ($attr.type == 'nameid' )
    #set ($chk = '')
    ## see if policy exists for this sp and attr
    #if ($policy)
      #foreach ( $p in $policy.attributeRules )
       #if ($attr.id==$p.id) 
         #set ($chk = 'checked="checked"')
       #end
      #end
    #end ## if policy

  <li>
    <div class="dt dtcb"><input data-dojo-type="dijit.form.RadioButton" $chk  name="nameidb2" value="${attr.id}" id="${gid}_attr_edit_chk_${attr.id}"
           class="${gid}_attr_edit_chk" />
    </div>
    <h4 class="dd dt12" style="overflow:hidden"><label for="${gid}_attr_edit_chk_${attr.id}">$!{attr.id}</label>
       <input tabindex="-1" id="${gid}_attr_edit_chk_${attr.id}_in" value="$chk" type="hidden" aria-hidden="true"></input>
    </h4>
    <div class="dd">
       $!{attr.description}
    </div>
   
 #end ## if
#end ## foreach attr
</ul>

<h3>Assertion attributes</h3>

<ul class="iamlist">

#set ( $policy = false )
#set ( $policy = $filterPolicyManager.getFilterPolicy($group, $relyingPartyId))
#foreach ( $attr in $attributes )
  #if ($attr.type == 'attribute' )
    #set ($chk = '')
    #set ($pattr = false )
    ## see if policy exists for this sp and attr
    #if ($policy)
      #foreach ( $p in $policy.attributeRules )
       #if ($attr.id==$p.id) 
         #set ($chk = 'checked="checked"')
         #set ($pattr = $p )
       #end
      #end
    #end ## if policy

  <li>
    <div class="dt dtcb"><input data-dojo-type="dijit.form.CheckBox" $chk  value="${attr.id}" id="${gid}_attr_edit_chk_${attr.id}"
           class="${gid}_attr_edit_chk" onClick="attr_checkAttr('$gid', '$!{attr.id}')"></input>
    </div>
    <h4 class="dd dt12" style="overflow:hidden"><label for="${gid}_attr_edit_chk_${attr.id}">$!{attr.id}</label>
       <input tabindex="-1" id="${gid}_attr_edit_chk_${attr.id}_in" value="$chk" type="hidden" aria-hidden="true"></input>
    </h4>
    <div class="dd">
       $!{attr.description}
   
    ## show any existing releases
    #set ($count=0)
    #set ($started = false)
    <ul class="iamlist">
    #foreach ( $value in $pattr.valueRules )
       #set( $started = true )
       <li id="${gid}_attr_edit_tr_all_${attr.id}">
           <input class="dt dtcb" data-dojo-type="dijit.form.CheckBox" id="${gid}_attr_edit_all_$!{attr.id}"
                     onClick="attr_checkAll('$gid', '$!{attr.id}')"
              #if ( $value.type == "basic:ANY" ) $checked #end></input>
             <label class="dd dd2" for="${gid}_attr_edit_all_$!{attr.id}">all values</label>
       </li>

       #foreach ( $rule in $value.rules )
          <li id="${gid}_attr_edit_tr_v_${count}_$!{attr.id}">
             <div class="dt dt2" role="presentation"></div>
             <div class="dd dd2"><input data-dojo-type="dijit.form.TextBox" 
                     id="${gid}_attr_edit_v_${count}_$!{attr.id}" value="#X($!{rule.value.replaceFirst('urn:mace:washington.edu:groups:','')})" 
                      onClick="attr_showNext('$gid', ${count},'$!{attr.id}')" ></input>
                <input data-dojo-type="dijit.form.CheckBox" id="${gid}_attr_edit_x_${count}_$!{attr.id}"
                  #if ($rule.regex) $checked #end></input><label for="${gid}_attr_edit_x_${count}_$!{attr.id}">regex</label>
             </div>
          </li>
          #set ($count = $count + 1)
       #end ## value counts
    #end

    #if (!$started)
      ## add the 'all values' option 
      <li id="${gid}_attr_edit_tr_all_${attr.id}" $hide>
         <input class="dt dtcb" style="overflow:hidden:font-size:smaller"
                  data-dojo-type="dijit.form.CheckBox" id="${gid}_attr_edit_all_$!{attr.id}"
                  onClick="attr_checkAll('$gid', '$!{attr.id}')"></input>
              <label class="dd dd2" for="${gid}_attr_edit_all_$!{attr.id}">all values</label>
     </li>
    #end

    #set ( $ecount = $count + 20 )
    #foreach ( $i in [ $count .. $ecount] )
       <li $hide id="${gid}_attr_edit_tr_v_${i}_$!{attr.id}">
            <div class="dt dt2" role="presentation"></div>
            <div class="dd dd2"><input data-dojo-type="dijit.form.TextBox" id="${gid}_attr_edit_v_${i}_$!{attr.id}" value="" 
                 onClick="attr_showNext('$gid', ${i},'$!{attr.id}')"></input>
              <input data-dojo-type="dijit.form.CheckBox" id="${gid}_attr_edit_x_${i}_$!{attr.id}"></input>
              <label for="${gid}_attr_edit_x_${i}_$!{attr.id}">regex</label>
            </div>
       </li>
    #end  ## xtra counts
   </ul>
  </div>
  </li>
 #end ## if
#end ## foreach attr
</ul>


</form>
    <div class="dijitDialogPaneActionBar">
        <button dojoType="dijit.form.Button" type="button" onClick="attr_saveAttrs('${gid}', '${relyingPartyId}')">Save changes</button>
        <button dojoType="dijit.form.Button" type="button" onClick="iam_hideTheDialog('attrEditDialog');" >Close</button>
    </div>
</div>
