#* ========================================================================
 * Copyright (c) 2013 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

##
## attr request
##

<div id="attrReqDialog" data-dojo-type="dijit/Dialog" title="Request attributes for ${relyingPartyId}" 
    style="display:none;" >

<div class="dijitDialogPaneContentArea">
Check the attributes you need. Uncheck those you no longer want.
## <div id="attrrnotice" class="rnotice">(<span class="rstar">*</span> denotes required field)</div>

<form action="">

<h3>Assertion attributes</h3>

<ul class="iamlist ">

#foreach ( $attr in $attributes )
 #if ($attr.type == 'attribute')
  ## we need to know if the attribute is already selected or can be edited
  #set ( $chk = '' )
  #set ( $dis = '' )
  #set ( $grps='')
  #if (${attr.attributeFilterPolicy})
    #set ($ar = $attr.attributeRule )
    #set ($chk=$checked)
    #if (!$attr.attributeFilterPolicy.editable) #set ($dis = $disable) #end
    #if ($attr.id == 'gws_groups')
        #set ( $nl='')
        #foreach ( $r in ${ar.valueRules} )
           #foreach ( $v in ${r.rules} )
             #set ($grps = $grps + $nl + ${v.getValue().replaceFirst("urn:mace:washington.edu:groups:","")} )
#set ($nl='
')
           #end
        #end ## vrules
    #end  ## if
  #end ## afp

  <li><div class="dt dtcb"><input data-dojo-type="dijit.form.CheckBox" id="attr_req_${attr.id}"
         $chk $dis value="${attr.id}"
       #if ($attr.id == 'gws_groups')
        onChange="local_check_gws()"
       #end
         class="attr_req_chk" aria-label="${attr.id}"/>
      </div>
      <h4 class="dd dt12" style="overflow:hidden"><label for="attr_req_${attr.id}" >${attr.id}</label>
        <input id="attr_req_${attr.id}_in" value="$chk" type="hidden" aria-hidden="true"></input>
      </h4>
      <div class="dd dd2">$!{attr.description}
       #if ($attr.id == 'gws_groups')
         <br>
         <div id="attr_req_gws_text_tr" #if ($grps!='')#else $hide #end>
           <label for="attr_req_gws_text">Which groups?$rstar</label><br>
             <textarea style="font-size:smaller" data-dojo-type="dijit.form.Textarea"
                  id="attr_req_gws_text" rows="2" cols="40" aria-label="which groups, required">#X($grps)</textarea>
             <textarea data-dojo-type="dijit.form.Textarea" id="attr_req_gws_text_in" $hide >#X($grps)</textarea>
         </div>
       #end
      </div>
   </li>

 #end ## if
#end
</ul>

<h3>NameId format</h3>

<ul class="iamlist ">

#set ( $chkdef = $checked )
## see if this sp gets the default
#foreach ( $attr in $attributes )
 #if ($attr.type == 'nameid')
  #if (${attr.attributeFilterPolicy})
    #set ($chkdef='')
  #end
 #end
#end
  <li>
     <div class="dt dtcb"><input data-dojo-type="dijit.form.RadioButton" name="nameidbtn" id="attr_req_default"
         $chkdef value="default"
         class="attr_req_chk" aria-label="default"/>
     </div>
     <h4 class="dd dt12" style="overflow:hidden"><label for="attr_req_default" >default</label>
        <input id="attr_req_default_in" value="$chk" type="hidden" aria-hidden="true"></input>
     </h4>
     <div class="dd dd2">Transient NameId
     </div>
  </li>

#foreach ( $attr in $attributes )
 #if ($attr.type == 'nameid')
  ## we need to know if the attribute is already selected or can be edited
  #set ( $chk = '' )
  #set ( $dis = '' )
  #if (${attr.attributeFilterPolicy})
    #set ($ar = $attr.attributeRule )
    #set ($chk=$checked)
    #if (!$attr.attributeFilterPolicy.editable) #set ($dis = $disable) #end
  #end ## afp

  <li>
     <div class="dt dtcb"><input data-dojo-type="dijit.form.RadioButton" name="nameidbtn" id="attr_req_${attr.id}"
         $chk $dis value="${attr.id}"
         class="attr_req_chk" aria-label="${attr.id}"/>
     </div>
     <h4 class="dd dt12"><label for="attr_req_${attr.id}" >${attr.id}</label>
        <input id="attr_req_${attr.id}_in" value="$chk" type="hidden" aria-hidden="true"></input>
     </h4>
     <div class="dd dd">$!{attr.description}
     </div>
   </li>

 #end ## if
#end
</ul>

<hr>

<label for="attr_req_exptext">Explain your need for the attributes.$rstar</label>
<br>
<textarea data-dojo-type="dijit.form.Textarea" cols="50" rows="10" id="attr_req_exptext" aria-label="reason for attributes, required">






</textarea>

</form>
</div>

    <div class="dijitDialogPaneActionBar">
        <button data-dojo-type="dijit/form/Button" type="button" onClick="attr_requestAttrs('${relyingPartyId}')">Submit</button>
        <button data-dojo-type="dijit/form/Button" type="button" onClick="iam_hideTheDialog('attrReqDialog');">Close</button>
    </div>

</div>

