#* ========================================================================
 * Copyright (c) 2009-2013 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

## sp registry webservice (login chooser page)

#parse ( 'definitions.vm' )

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 <title>Service Provider Registry</title>

<script>
dojoConfig = {
   "async": true,
   "parseOnLoad": false,
   "isDebug": true,
   packages: [{
      name: "iam",
      location: "/spreg/js"
   }]
};
</script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/dojo/1.12.2/dojo/dojo.js" data-dojo-config="async: true"></script>
  <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/dojo/1.12.2/dojo/resources/dojo.css"/>
  <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/dojo/1.12.2/dijit/themes/claro/claro.css"/>

<link rel="stylesheet" type="text/css" href="/spreg/css/iam-dojo-2.css"/>

## add ie7 css if needed
<script>
    require(["dojo/query",
     "dojo/dom-construct",
     "dojo/NodeList-manipulate"], function(query, dom) {
         var ie=document.documentMode;
         if (typeof ie != 'undefined' && ie<8) {
            var link = dom.create("link", {
                  type  : "text/css",
                  rel   : "stylesheet",
                  href  : '/css/iam-ie.css'
               });
            console.log('adding css for ie7');
            query("head").append(link);
         }
    });
</script>

<script type="text/javascript" src="/spreg/js/iam-dojo.js"></script>
<script type="text/javascript" src="/spreg/js/sp.js"></script>

<script>
    require(["dojo/dom",
     "dojo/parser",
     "dijit/Dialog",
     "dijit/form/Button",
     "dijit/layout/ContentPane",
     "iam/Dialog",
     "dojo/domReady!"], function(dom,parser) {
       parser.parse();
       onLoad();
 });
</script>


<script>
v_root='$root';
v_vers='$vers';
v_remoteUser='$remote_user';
v_xsrf = '${xsrf}';
function redirectToLogin(path) {
   var url = '$root' + '$vers' + path + '$pathextra';
   document.location = url;
}
</script>
</head>

<body class="claro" id="documentbody">

## banner popups and menus


<div id="helpAbout" data-dojo-type="dijit/Dialog" title="About" $hide >
  <div class="dijitDialogPaneContentArea">
    Identity and Access Management
    <br/>
    Service Provider Registry 2.5.0
    <br/>
    Revision 2018-11-15
    <p/>
    <a href="https://wiki.cac.washington.edu/x/fiOD">Learn more about the registry</a>
  </div>
 <div class="dijitDialogPaneActionBar">
    <button dojoType="dijit.form.Button" type="button" onClick="iam_hideTheDialog('helpAbout')">Close</button>
 </div>
</div>




<div id="thepage" data-dojo-type="dijit.layout.ContentPane" style="width: 100%; height: 100%;overflow:hidden">

## top banner
<h1 class="hidden">SERVICE PROVIDER REGISTRY</h1>
<div id="topbanner" data-dojo-type="dijit.layout.ContentPane">
<span class="topleft"><a href="https://wiki.cac.washington.edu/x/lR4">IDENTITY AND ACCESS MANAGEMENT</a></span>
<ul class="topright">
 <li><a href="https://wiki.cac.washington.edu/x/gjyoAQ" target="sphelp">HELP</a></li>
</ul>
</div>##topbanner

## banner
<div id="banner" data-dojo-type="dijit.layout.ContentPane">
    <span id="title"><a tabindex=-1 href="javascript:showHomePage()">SERVICE PROVIDER REGISTRY</a></span>
##     <span id="banner_notice"></span>
    <ul id="ident">
        <li>$!{notice}</li>
    </ul>
</div>##banner


## show the page when the dom is ready
<script>
  function onLoad() {
    require(["dojo/dom", "dijit/registry", "dojo/on", "dojo/domReady!"], function(dom, registry, on) {
      dom.byId('theflashch').style.display = 'none';
  });
}
</script>



<div data-dojo-type="dijit.layout.ContentPane" style="margin:10%" >

<p>
 <h3>Login</h3>
<p>
    
<div class="loginform">

<ul class="iamlist">
   
  <li><div class="dt "><a href="javascript:redirectToLogin('$uwloginpath');" title="Login with your UW NetID">UW NetID</a></div>
   <div class="dd">People with UW NetIDs should log in with them.</div>
  </li>

  <li><div class="dt "><a href="javascript:redirectToLogin('$googleloginpath');">Gmail</a></div>
   <div class="dd">Your Google gmail address will be your login identity.
        <br><i>(Google "@uw.edu" logins will not be not accepted.  Use UW NetID login)</i>
   </div>
  </li>

  <li><div class="dt "><a href="javascript:redirectToLogin('$incommonloginpath');">InCommon</a></div>
   <div class="dd">Your ePPN will be your login identity.
       <br><i>(Your InCommon IdP must provide your ePPN to us.)</i>
   </div>
  </li>

</ul>
</div>
</div>



## footer


<div id="footer" data-dojo-type="dijit.layout.ContentPane"  style="position:absolute;bottom:0px">
    <span id="footlogo"><a href="http:/www.uw.edu/" title="University of Washington">
       ##  <img src="/img/uofw-small.gif" alt="UW" />
       &copy;&nbsp;2014&nbsp;UNIVERSITY OF WASHINGTON
       </a></span>
    <span id="footcenter">
    <ul id="navigation">
        <li><a href="mailto:help@uw.edu">CONTACT US</a></li>
        <li>|</li>
        <li><a href="http://www.washington.edu/online/privacy/">PRIVACY</a></li>
        <li>|</li>
        <li><a href="http://www.washington.edu/online/terms/">TERMS</a></li>
    </ul>
    </span>
    <span id="footright">
    <ul id="navigation">
        <li><a href="javascript:iam_showTheDialog('helpAbout');">SP Registry 2.5.0</a></li>
    </ul>
    </span>
</div>


</div>
</body>
</html>

