#* ========================================================================
* Copyright (c) 2013 The University of Washington
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
* ========================================================================
*#
##
## history tab
##
## added 2016-11-03 mattjm



<div id="historySpContainer" dojoType="dijit.layout.ContentPane" title="History" selected="false" style="overflow:hidden"
     onClose="return(true)" doLayout="false" >


    <div id="historyViewPane" tabindex="0" dojoType="dijit.layout.ContentPane" doLayout="false" style="overflow:auto;"
         onShow="adjustSpPaneSize('historyViewPane')">

        ## This tab displays a history of updates to this registration.
        <p>
        <h3>History</h3>
        <ul class="iamlist">


                #if ($rpHistory)
                #foreach ( $item in $rpHistory )
                    <li><ul>
                        <li><h4>Metadata history entry ${foreach.count}</h4></li>
                        <li>Date and Time of change: ${item.effectiveDate}</li>
                        <li>Change made by: ${item.updatedBy}</li>
                    #foreach ($change in ${item.changes})
                        #if (${change.objectName} == "contactPersons")
                            #if (${change.changeType} == "1")
                            <li>Contact Person Updated:
                                <ul>
                                    <li>Old Entry:</li>
                                    <ul>
                                        <li>Type:  ${change.oldValue.type}</li>
                                        <li>Name: ${change.oldValue.givenName}</li>
                                        <li>Email: ${change.oldValue.email}</li>
                                        <li>Phone: ${change.oldValue.phone}</li>
                                    </ul>

                                    <li>New Entry:</li>
                                    <ul>
                                        <li>Type:  ${change.newValue.type}</li>
                                        <li>Name: ${change.newValue.givenName}</li>
                                        <li>Email: ${change.newValue.email}</li>
                                        <li>Phone: ${change.newValue.phone}</li>
                                    </ul>
                                </ul>
                            </li>
                            #end
                            #if (${change.changeType} == "2")
                                <li>New Contact Person Added:
                                    <ul>

                                        <li>Type:  ${change.newValue.type}</li>
                                        <li>Name: ${change.newValue.givenName}</li>
                                        <li>Email: ${change.newValue.email}</li>
                                        <li>Phone: ${change.newValue.phone}</li>
                                    </ul>
                                </li>
                            #end
                            #if (${change.changeType} == "3")
                                <li>Contact Person Removed:
                                    <ul>

                                        <li>Type:  ${change.oldValue.type}</li>
                                        <li>Name: ${change.oldValue.givenName}</li>
                                        <li>Email: ${change.oldValue.email}</li>

                                    </ul>
                                </li>
                            #end
                        #elseif (${change.objectName} == "assertionConsumerServices")
                            #if (${change.changeType} == "1")
                                <li>ACS Endpoint Updated:
                                    <ul>
                                        <li>Old Entry:</li>
                                        <ul>
                                            <li>Binding:  ${change.oldValue.binding}</li>
                                            <li>Location: ${change.oldValue.location}</li>
                                            <li>Index: ${change.oldValue.index}</li>
                                        </ul>

                                        <li>New Entry:</li>
                                        <ul>
                                            <li>Binding:  ${change.newValue.binding}</li>
                                            <li>Location: ${change.newValue.location}</li>
                                            <li>Index: ${change.newValue.index}</li>
                                        </ul>
                                    </ul>
                                </li>
                            #end
                            #if (${change.changeType} == "2")
                                <li>New ACS Endpoint Added:
                                    <ul>

                                        <li>Binding:  ${change.newValue.binding}</li>
                                        <li>Location: ${change.newValue.location}</li>
                                        <li>Index: ${change.newValue.index}</li>

                                    </ul>
                                </li>
                            #end
                            #if (${change.changeType} == "3")
                                <li>ACS Endpoint Removed:
                                    <ul>
                                        <li>Binding:  ${change.oldValue.binding}</li>
                                        <li>Location: ${change.oldValue.location}</li>
                                        <li>Index: ${change.oldValue.index}</li>
                                    </ul>
                                </li>
                            #end
                        #elseif (${change.objectName} == "keyDescriptors")
                            #if (${change.changeType} == "1")
                                <li>ACS Endpoint Updated:
                                    <ul>
                                        <li>Old Entry:</li>
                                        <ul>
                                            <li>Binding:  ${change.oldValue.use}</li>
                                            <li>Location: ${change.oldValue.keyName}</li>
                                            <li>Index: ${change.oldValue.certificate}</li>
                                        </ul>

                                        <li>New Entry:</li>
                                        <ul>
                                            <li>Binding:  ${change.newValue.use}</li>
                                            <li>Location: ${change.newValue.keyName}</li>
                                            <li>Index: ${change.newValue.certificate}</li>
                                        </ul>
                                    </ul>
                                </li>
                            #end
                            #if (${change.changeType} == "2")
                                <li>New ACS Endpoint Added:
                                    <ul>

                                        <li>Binding:  ${change.newValue.use}</li>
                                        <li>Location: ${change.newValue.keyName}</li>
                                        <li>Index: ${change.newValue.certificate}</li>

                                    </ul>
                                </li>
                            #end
                            #if (${change.changeType} == "3")
                                <li>ACS Endpoint Removed:
                                    <ul>
                                        <li>Binding:  ${change.oldValue.use}</li>
                                        <li>Location: ${change.oldValue.keyName}</li>
                                        <li>Index: ${change.oldValue.certificate}</li>
                                    </ul>
                                </li>
                            #end
                        #elseif (${change.objectName} == "protocolSupportEnumerations")
                            #if (${change.changeType} == "1")
                                <li>Protocol Updated:
                                    <ul>
                                        <li>Old Entry:</li>
                                        <ul>
                                            <li>${change.oldValue}</li>
                                        </ul>

                                        <li>New Entry:</li>
                                        <ul>
                                            <li>${change.newValue}</li>
                                        </ul>
                                    </ul>
                                </li>
                            #end
                            #if (${change.changeType} == "2")
                                <li>Protocol Added:
                                    <ul>
                                        <li>${change.newValue.use}</li>
                                    </ul>
                                </li>
                            #end
                            #if (${change.changeType} == "3")
                                <li>Protocol Removed:
                                    <ul>
                                        <li>${change.oldValue.use}</li>
                                    </ul>
                                </li>
                            #end
                        #elseif (${change.objectName} == "nameIDFormats")
                            #if (${change.changeType} == "1")
                                <li>NameID Updated:
                                    <ul>
                                        <li>Old Entry:</li>
                                        <ul>
                                            <li>${change.oldValue}</li>
                                        </ul>

                                        <li>New Entry:</li>
                                        <ul>
                                            <li>${change.newValue}</li>
                                        </ul>
                                    </ul>
                                </li>
                            #end
                            #if (${change.changeType} == "2")
                                <li>NameID Added:
                                    <ul>
                                        <li>${change.newValue.use}</li>
                                    </ul>
                                </li>
                            #end
                            #if (${change.changeType} == "3")
                                <li>NameID Removed:
                                    <ul>
                                        <li>${change.oldValue.use}</li>
                                    </ul>
                                </li>
                            #end
                        #end

                    #end

                    </ul></li>
                #end
                #else
                <!-- <li>No metadata history found (this SP was probably registered before we started tracking history).
                Future changes will be recorded here.  </li> -->
                <li>No history available</li>
                #end
        </ul>
    </div>




</div>




