<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
	       http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config />

    <bean id="spfpManager" class="edu.washington.iam.registry.filter.FilterPolicyManagerImpl" />

    <bean id="attributeDAO"
          class="edu.washington.iam.registry.filter.AttributeDAOXML">
        <property name="attributeUri" value="file:target/test-classes/test-attributes.xml" />
        <property name="attributeRefresh" value="600" />
    </bean>

    <bean id="filterPolicyDAO"
          class="edu.washington.iam.registry.filter.XMLFilterPolicyDAO">
        <property name="policyGroupSources">
            <list>
                <props>
                    <prop key="id">UW</prop>
                    <prop key="description">UW ad-hoc filter policies</prop>
                    <prop key="uri">file:target/test-classes/test-rp-filter.xml</prop>
                    <prop key="editable">true</prop>
                    <prop key="refresh">600</prop>
                    <prop key="tempUri">file:target/test-classes/test-tmp-filter-uw.xml</prop>
                </props>
            </list>
        </property>
    </bean>
</beans>