<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
	       http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config />

    <bean id="sprpManager" init-method="init" destroy-method="cleanup" class="edu.washington.iam.registry.rp.XMLRelyingPartyManager">
        <property name="metadataSources">
          <list>
            <props>
              <prop key="id">IC</prop>
              <prop key="description">InCommon</prop>
              <prop key="uri">file:{{spreg_root}}/InCommon-metadata.xml</prop>
              <prop key="editable">false</prop>
              <prop key="refresh">600</prop>
            </props>
            <props>
              <prop key="id">UWfixed</prop>
              <prop key="description">UW fixed non-federation peers</prop>
              <prop key="uri">file:{{spreg_root}}/UW-base-metadata.xml</prop>
              <prop key="editable">false</prop>
            </props>
            <props>
              <prop key="id">UW</prop>
              <prop key="description">UW non-federation peers</prop>
              <prop key="uri">file:{{spreg_root}}/UW-rp-metadata.xml</prop>
              <prop key="editable">true</prop>
              <prop key="refresh">600</prop>
              <prop key="tempUri">file:{{spreg_root}}/tmp-rp-uw.xml</prop>
            </props>
          </list>
        </property>
    </bean>
    <bean id="spfpManager" class="edu.washington.iam.registry.filter.FilterPolicyManagerImpl" />

    <bean id="filterPolicyDAO" class="edu.washington.iam.registry.filter.XMLFilterPolicyDAO">
        <property name="policyGroupSources">
          <list>
            <props>
              <prop key="id">UWcore</prop>
              <prop key="description">UW core filter policies</prop>
              <prop key="uri">file:{{spreg_root}}/core-filter.xml</prop>
              <prop key="editable">false</prop>
            </props>
            <props>
              <prop key="id">UWrands</prop>
              <prop key="description">UW R&amp;S filter policies</prop>
              <prop key="uri">file:{{spreg_root}}/rs-filter.xml</prop>
              <prop key="editable">false</prop>
            </props>
            <props>
              <prop key="id">UW</prop>
              <prop key="description">UW ad-hoc filter policies</prop>
              <prop key="uri">file:{{spreg_root}}/rp-filter.xml</prop>
              <prop key="editable">true</prop>
              <prop key="refresh">600</prop>
              <prop key="tempUri">file:{{spreg_root}}/tmp-filter-uw.xml</prop>
            </props>
          </list>
        </property>
        <!--
        <property name="attributeUri" value="file:{{spreg_root}}/attribute.xml" /> 
        <property name="attributeRefresh" value="600" /> 
        <property name="tempUri" value="file:{{spreg_root}}/filter-policy.xml.tmp" />
        -->
    </bean>

    <bean id="attributeDAO"
              class="edu.washington.iam.registry.filter.AttributeDAOXML">
            <property name="attributeUri" value="file:/data/local/sp-registry/attribute.xml" />
            <property name="attributeRefresh" value="600" />
    </bean>

    <bean id="spprManager" init-method="init" destroy-method="cleanup" class="edu.washington.iam.registry.proxy.XMLProxyManager">
        <property name="proxyUri" value="file:{{spreg_root}}/rp-proxy.xml" />
        <property name="tempUri" value="file:{{spreg_root}}/rp-proxy.xml.tmp" />
        <property name="pyUri" value="file:{{spreg_root}}/rp-secrets" />
        <property name="tempPyUri" value="file:{{spreg_root}}/rp-secrets.tmp" />
        <property name="proxyMdUri" value="file:{{spreg_root}}/rp-proxy-metadata.xml" />
    </bean>


    <bean id="webClient" init-method="init" class="edu.washington.iam.tools.WebClient">
        <property name="certFile" value="{{crt_file}}" />
        <property name="keyFile" value="{{key_file}}" />
        <property name="caFile" value="{{ca_file}}" />
    </bean>

    <bean id="netactDnsVerifier" init-method="init" class="edu.washington.iam.tools.netact.NetactDNSVerifier">
        <property name="webClient" ref="webClient"/>
    </bean>
    <bean id="gwsDnsVerifier" init-method="init" class="edu.washington.iam.tools.gws.GWSDNSVerifier">
        <property name="webClient" ref="webClient"/>
        <property name="gwsMemberBase" value="{{gws_dns_member_base_url}}"/>
    </bean>
    <bean id="comboDnsVerifier" init-method="init" class="edu.washington.iam.tools.ComboDNSVerifier">
        <property name="netVerifier" ref="netactDnsVerifier"/>
        <property name="gwsVerifier" ref="gwsDnsVerifier"/>
    </bean>
    <bean id="gwsGroupManager" init-method="init" class="edu.washington.iam.tools.gws.GWSGroupManager">
        <property name="webClient" ref="webClient"/>
        <property name="gwsBase" value="{{gws_base_url}}"/>
    </bean>


</beans>
