spreg.db.url=example.com/spregistry
spreg.db.username=joe
spreg.db.password=letmein
spreg.gws.baseUrl=https://example.com/gws
spreg.gws.memberBase=u_example_dns-owners_
spreg.webclient.certFile=/data/local/etc/foo.crt
spreg.webclient.keyFile=/data/local/etc/foo.key
spreg.webclient.caFile=/data/local/etc/uwca.crt
spreg.root=/data/local/sp-registry/


