spreg.db.url=example.com/spregistry
spreg.db.username=joe
spreg.db.password=letmein
spreg.gws.baseUrl=https://example.com/gws
spreg.gws.memberBase=u_example_dns-owners_
spreg.webclient.certFile=/data/local/etc/foo.crt
spreg.webclient.keyFile=/data/local/etc/foo.key
spreg.webclient.caFile=/data/local/etc/uwca.crt
spreg.root=/data/local/sp-registry/
spreg.gws.adminGroupName=u_example_admins
spreg.smtp.host=smtp.example.com
spreg.smtp.from=SP registry &lt;spreg@example.com&gt;
spreg.smtp.to=spreg@example.com
spreg.smtp.requestMailTo=help@example.com
spreg.idp.host=https://idp.example.com/idp/
spreg.idp.cryptKey=topsecret
spreg.myEntityId=https://example.com/shibboleth
spreg.spRegistryUrl=https://example.com/spreg/



