#* ========================================================================
 * Copyright (c) 2011 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

##
## Template for attributes display 
##

#parse ( "crumbs.vm" )

<script>
v_sectionType = 'attrs';

function toggleText(id) {
   d = document.getElementById('text_' + id);
   if (d.style.display == '') {
      d.style.display = 'none';
      document.getElementById('grp_' + id).style.display = 'none';
   } else {
      d.style.display = '';
      document.getElementById('grp_' + id).style.display = '';
   }
}

</script>

##
## ----- Left side content -----
##

#pageStart

<table cellpadding="0" cellspacing="0" border="0" width="100%">

## <tr><td class="title" align="left" colspan="99">Attributes</td></tr>

 <tr><td height="10px" colspan="99"/></tr>

    <tr><td class="groupindenttitle" >Attributes</td></tr>
     <tr><td class="groupindent">
       <table width="100%">

#foreach ( $attr in $attributes )
      <tr><td class="cleanlink" colspan="2"><a href="javascript:toggleText('${attr.id}')">${attr.id}</td>
      </tr>
     <tr id="text_${attr.id}" $hide><td width="20"></td>
       <td class="groupitem" align="left" >$!{attr.description}</td>
     </tr>
     <tr id="grp_${attr.id}" $hide><td width="20" height="20"></td>
       ## <td class="groupitem" align="left" nowrap="nowrap">Authorizing group:&nbsp;$!attr.authorizingGroup</td>
     </tr>
#end

  </table></td></tr>


   <tr><td/><td colspan="99"><hr></td></tr>
 
  </table>

#pageMiddle

##
## ----- right side extra text ----
##


<p height="100px">&nbsp;</p>


<table class="helptext" cellpadding="4px">
<tr><th align="left" colspan="2">Attributes</td></tr>
<tr><td width="10px"/><td valign="top">Shown are the 
  attributes the University's IdP is capable of providing to Service Providers.
   </td></tr>
</table>


#pageEnd

##
## ----- end -----
##

## error and status messages
<div id="requestStatusDiv" class="notice">&nbsp;
</div>
<div class="status">$!{status}
</div>

