#* ========================================================================
 * Copyright (c) 2012-2013 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

## This edits only one editable policy
## For more policies, use more of these

#parse ( 'definitions.vm' )


#foreach ( $grp in $filterPolicyGroups )
 #if ( $grp.editable )
   #set ($group=$grp)
   #set ($gid=$group.id)
 #end
#end

<div id="attrEditDialog" dojoType="iam/Dialog" title="Edit attributes for ${relyingPartyId}" 
    data-dojo-props="submitLabel:'Save changes', submitAction:'attr_saveAttrs(\'${gid}\', \'${relyingPartyId}\')', cancelLabel:'Cancel'"
    $hide >

## <p>Allow 40 minutes for our IdP to acquire the changes to this service provider's attribute release policy.
<h3>Attributes from by $group.description</h3>
<form action="">
<ul class="iamlist">

  #set ( $policy = false )
  #set ( $policy = $group.getFilterPolicy($relyingPartyId) )
  #foreach ( $attr in $attributes )
    #set ($chk = '')
    #set ($pattr = false )
    ## see if policy exists for this sp and attr
    #if ($policy)
      #foreach ( $p in $policy.attributeRules )
       #if ($attr.id==$p.id) 
         #set ($chk = 'checked="checked"')
         #set ($pattr = $p )
       #end
      #end
    #end

  <li>
    <div class="dt dtcb"><input data-dojo-type="dijit.form.CheckBox" $chk  value="${attr.id}" id="${gid}_attr_edit_chk_${attr.id}"
           class="${gid}_attr_edit_chk" onClick="attr_checkAttr('$gid', '$!{attr.id}')"></input>
    </div>
    <div class="dd dd2" style="overflow:hidden"><label for="${gid}_attr_edit_chk_${attr.id}">$!{attr.id}</label>
       <input tabindex="-1" id="${gid}_attr_edit_chk_${attr.id}_in" value="$chk" type="hidden" aria-hidden="true"></input>
      
    ## show any existing releases
    #set ($count=0)
    #set ($started = false)
    <ul class="iamlist">
    #foreach ( $value in $pattr.valueRules )
       #set( $started = true )
       <li id="${gid}_attr_edit_tr_all_${attr.id}">
           <input class="dt dtcb" data-dojo-type="dijit.form.CheckBox" id="${gid}_attr_edit_all_$!{attr.id}"
                     onClick="attr_checkAll('$gid', '$!{attr.id}')"
              #if ( $value.type == "basic:ANY" ) $checked #end></input>
             <label class="dd dd2" for="${gid}_attr_edit_all_$!{attr.id}">all values</label>
       </li>

       #foreach ( $rule in $value.rules )
          <li id="${gid}_attr_edit_tr_v_${count}_$!{attr.id}">
             <div class="dt dt2" role="presentation"></div>
             <div class="dd dd2"><input data-dojo-type="dijit.form.TextBox" 
                     id="${gid}_attr_edit_v_${count}_$!{attr.id}" value="${rule.value}" 
                      onClick="attr_showNext('$gid', ${count},'$!{attr.id}')" ></input>
                <input data-dojo-type="dijit.form.CheckBox" id="${gid}_attr_edit_x_${count}_$!{attr.id}"
                  #if ($rule.regex) $checked #end></input><label for="${gid}_attr_edit_x_${count}_$!{attr.id}">regex</label>
             </div>
          </li>
          #set ($count = $count + 1)
       #end ## value counts
    #end

    #if (!$started)
      <li id="${gid}_attr_edit_tr_all_${attr.id}" $hide>
         <input class="dt dtcb" style="overflow:hidden:font-size:smaller"
                  data-dojo-type="dijit.form.CheckBox" id="${gid}_attr_edit_all_$!{attr.id}"
                  onClick="attr_checkAll('$gid', '$!{attr.id}')"></input>
              <label class="dd dd2" for="${gid}_attr_edit_all_$!{attr.id}">all values</label>
     </li>
    #end
    #foreach ( $i in [ $count .. 10 ] )
       <li $hide id="${gid}_attr_edit_tr_v_${i}_$!{attr.id}">
            <div class="dt dt2" role="presentation"></div>
            <div class="dd dd2"><input data-dojo-type="dijit.form.TextBox" id="${gid}_attr_edit_v_${i}_$!{attr.id}" value="" 
                 onClick="attr_showNext('$gid', ${i},'$!{attr.id}')"></input>
              <input data-dojo-type="dijit.form.CheckBox" id="${gid}_attr_edit_x_${i}_$!{attr.id}"></input>
              <label for="${gid}_attr_edit_x_${i}_$!{attr.id}">regex</label>
            </div>
       </li>
    #end  ## xtra counts
   </ul>
    </div>
  </li>
  #end ## attr

</ul>
</form>
</div>
