#* ========================================================================
 * Copyright (c) 2012 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

#parse ( 'definitions.vm' )

<div id="attrViewPane" dojoType="dijit.layout.ContentPane" doLayout="false" style="overflow:auto;" >

  <div id="attrViewLinks" class="tabbox" dojoType="dijit.layout.ContentPane" doLayout="false" >
  <ul>
  #if ($canEdit)
  <li class="sublist" >Actions:</li>
  <li class="sublist" ><a href="javascript:handleAttrEditBtn()">Edit</a></li>
  #end
  </ul>
  </div>

<table class="iamtable">

    <tr><th colspan="2">Entity Id</th></tr>
     <tr><td colspan="3">
       <table class="iamtable" >
         <tr><td class="label" colspan="3">${relyingParty.entityId}</td></tr>
       </table>
     </tr>

    <tr><th colspan="2">Description of attributes</th></tr>
     <tr><td class="label">See the IAM wiki's <a href="https://wiki.cac.washington.edu/x/QUioAQ">Guide to Attributes</a>.</td></tr>
 
  #foreach ( $group in $filterPolicyGroups )
    <tr><th colspan="2">Attributes released by $group.description</th></tr>
     <tr><td colspan="3">
       <table class="iamtable" >

## entity id
     #foreach ( $policy in $group.filterPolicies )

      #if ( $policy.matches($relyingPartyId) )
       #foreach ( $attribute in $policy.attributeRules )
        <tr><td class="label">$!{attribute.id}</td>
        #foreach ( $value in $attribute.valueRules )
          #if ( $value.type == "basic:ANY" )
          <td>All values</td></tr>
          #else
           #set ($c=0)
           #foreach ( $rule in $value.rules )
             #if ($c>0)
               <tr><td></td>
             #else
               <td>#if ($rule.regex)<span class="subtitle">(regex)</span>#end ${rule.value}</td></tr>
             #end
             #set ($c = $c + 1)
           #end
          #end
        #end ## value
       #end ## attrs
      #end ## if match
   #end  ## policies

   </table></td></tr>

 #end  ## groups


  </table>



## error and status messages
<div id="requestStatusDiv" class="notice" $hide>&nbsp; 
</div>
<div class="status">$!{status}
</div>


</div>
