#* ========================================================================
 * Copyright (c) 2013 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

##
## attr request
##

<div id="attrReqDialog" data-dojo-type="iam/Dialog" title="Request attributes for ${relyingPartyId}"
    data-dojo-props="submitLabel:'Submit request', submitAction:'attr_requestAttrs(\'${relyingPartyId}\')', cancelLabel:'Cancel'"
    style="display:none;" >
Check the attributes you need. Uncheck those you no longer want.

<form action="">
<table>

#foreach ( $attr in $attributes )
  ## we need to know if the attribute is already selected or can be edited
  #set ( $chk = '' )
  #set ( $dis = '' )
  #set ( $grps='')
  #if (${attr.attributeFilterPolicy})
    #set ($ar = $attr.attributeRule )
    #set ($chk=$checked)
    #if (!$attr.attributeFilterPolicy.editable) #set ($dis = $disable) #end
    #if ($attr.id == 'gws_groups')
        #set ( $nl='')
        #foreach ( $r in ${ar.valueRules} )
           #foreach ( $v in ${r.rules} )
             #set ($grps = $grps + $nl + ${v.getValue().replaceFirst("urn:mace:washington.edu:groups:","")} )
#set ($nl='
')
           #end
        #end ## vrules
    #end  ## if
  #end ## afp

  <tr><td nowrap="nowrap"><input data-dojo-type="dijit.form.CheckBox" id="attr_req_${attr.id}"
         $chk $dis value="${attr.id}" 
       #if ($attr.id == 'gws_groups') 
        onChange="local_check_gws()"
       #end
         class="attr_req_chk" aria-label="${attr.id}"/></td><td><label for="attr_req_${attr.id}" title="$!{attr.description}" >${attr.id}</label>
        <input id="attr_req_${attr.id}_in" value="$chk" type="hidden" aria-hidden="true"></input>
        </td></tr>

       #if ($attr.id == 'gws_groups') 
         <tr id="attr_req_gws_text_tr" #if ($grps!='')#else $hide #end><td></td><td nowrap="nowrap">
           <span aria-hidden="true">Which groups?</span><br>
             <textarea style="font-size:smaller" data-dojo-type="dijit.form.Textarea"
                  id="attr_req_gws_text" rows="2" cols="40" aria-label="Which groups?">$grps</textarea>
             <textarea data-dojo-type="dijit.form.Textarea" id="attr_req_gws_text_in" $hide>$grps</textarea>
          </td></tr>
       #end

#end
<tr><td></td><td id="attr_reason" aria-hidden="true">Explain your need for the attributes.</td></tr>
<tr><td></td><td>
<textarea data-dojo-type="dijit.form.Textarea" id="attr_req_exptext" rows="10" cols="50" aria-labelledby="attr_reason"></textarea>
</td></tr>

</table>
</form>


</div>

