#* ========================================================================
 * Copyright (c) 2010 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

##
## Template for registry home page 
##

## #parse ( "crumbs.vm" )

##
## ----- Left side content -----
##

<div id="PageContent">

<h3>Register a Service Provider</h3>
<div class="indentLeft">
<p>
If you are the owner of a service providers's domain you can register that service provider with our IdP. 
If your SP responds to the standard 'Metadata' endpoint you only hav eto enter its DNS address
and we will query for the details.
</div>

<h3>Update a Service Provider</h3>
<div class="indentLeft">
<p>
The list on the left shows all service providers known to the University's IdP, including those 
registered with the
## <a href="http://incommon.org/">InCommon</a>
InCommon federation
and those registered manually 
through this service.
<p>
Type part of an SP's entity id in the search window to filter the list.
</div>


<div class="status">$!{status}</div>
</div>

