#* ========================================================================
 * Copyright (c) 2013 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

#parse ( 'definitions.vm' )

#if ($canEdit && $relyingParty.editable)
#set ( $editable = 1 )
#end
#if ($newEntity )
#set ( $editable = 1 )
#end

#if ($editable)
#parse ( "browser/meta_edit.vm" )
#end

#set ( $void = $dateFormatter.applyPattern("MM/dd/yyyy") )

## metadata



## tab entry
<div id="metaSpContainer" dojoType="dijit.layout.ContentPane" title="Metadata" selected="true" style="overflow:hidden"
   doLayout="false" >
  <div id="metaSpActions" role="presentation" class="tabbox" dojoType="dijit.layout.ContentPane" doLayout="false">
  <ul role="navigation">
  #if ($editable)
  <li class="sublist" >Actions:</li>
   <li class="sublist" > <a id="metaEditLink" role="button" tabindex="0" aria-label="Edit this information"
          href="javascript:dijit.byId('metaEditDialog').show();"><span style="text-decoration: underline">E</span>dit</a>
   </li>
  #if ( ! $newEntity )
   <li class="sublist" > <a id="metaDeleteLink" role="button" tabindex="0" aria-label="Delete this service provider"
          href="javascript:iam_showTheDialog('metaDeleteDialog',[]);"><span style="text-decoration: underline">D</span>elete</a></li>
  #end
  #end
  </ul>
  </div>

 <div id="metaSpPane" tabindex="0" dojoType="dijit.layout.ContentPane" doLayout="false" style="overflow:auto;" onShow="adjustSpPaneSize('meta')" >

<table class="iamtable">

    <tr><th colspan="3">General information</th></tr>
    <tr><td class="label">Id</td>
         <td colspan="2">$relyingPartyId</td></tr>
    
    <tr><th colspan="3">Organization</th></tr>
    #set ( $org = $relyingParty.organization )
    #if ( $org.name )
    <tr><td class="label">Name</td>
         <td colspan="2">$org.name</td></tr>
    #end
    #if ( $org.displayName )
    <tr><td class="label">Display</td>
         <td colspan="2">$org.displayName</td></tr>
    #end
    #if ( $org.url )
    <tr><td class="label">url</td>
         <td colspan="2">$org.url</td></tr>
    #end

    <tr><th colspan="3">Contacts</th></tr>
   #foreach ( $ct in $relyingParty.contactPersons )
      <tr><td class="label">$!ct.type</td>
       <td colspan="2"><table>
     #if ( $ct.givenName || $ct.surName )
     <tr>
      <td>$!ct.givenName $!ct.surName</td>
     </tr>
     #end
     #if ( $ct.company )
     <tr>
      <td colspan="2">$!ct.company</td>
     </tr>
     #end
     #if ( $ct.email )
     <tr>
      <td colspan="2">$!ct.email</td>
     </tr>
     #end
     #if ( $ct.phone )
     <tr>
      <td colspan="2">$!ct.phone</td>
     </tr>
     #end
      </table></td></tr>
   #end

    <tr><th colspan="3">Metadata details</th></tr>
         
   
   ## ProtocolSupportEnumerations
      <tr><td class="label">Protocols</td>
      <td>
   #foreach ( $ps in $relyingParty.protocolSupportEnumerations )
      $ps <br>
   #end
      </td></tr>

   ## KeyInfo

      <tr><td class="label">KeyInfo</td>
        <td colspan="2"><table class="iamtable">
       #foreach ( $key in $relyingParty.keyDescriptors )
          <tr><td nowrap="nowrap">Key Name:</td><td>$!key.keyName <td><tr>
         #if ( $key.cert )
         <tr><td align="left">Subject:</td><td>$!{key.cert.dn}</td></tr>
         <tr><td align="left">Issuer:</td><td>$!{key.cert.issuerDn}</td></tr>
         <tr><td align="left">Issued:</td><td>$dateFormatter.format($key.cert.issued)</td></tr>
         <tr><td align="left">Expires:</td><td>$dateFormatter.format($key.cert.expires)</td></tr>
         ### <tr><td align="left">PEM:</td><td><span class="certbox">$key.certificate</span></td></tr>
         #end
       #end
         </table></td></tr>


   ## Nameid

      <tr><td class="label">NameId</td>
       <td>
   #foreach ( $name in $relyingParty.nameIDFormats )
      $name<br>
   #end
       </td></tr>


   ## ACS

      <tr><td class="label">ACS</td>
         <td><table class="iamtable">
   #foreach ( $acs in $relyingParty.assertionConsumerServices )
     <tr>
      <td>$acs.index</td><td nowrap="nowrap">
          $acs.binding
          <tt>$acs.location
      </td>
     </tr>
   #end
      </table></td></tr>



</table>


</div>
</div>

## certificate PEM popup
<div id="metaCertDialog" data-dojo-type="dijit.Dialog" title="Certificate PEM" style="display:none">
<div id="metaCertDialog_content">

 <div class="certbox"><pre>$key.certificate</pre></div>
</div>
</div>



