#* ========================================================================
 * Copyright (c) 2013 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

#parse ( 'definitions.vm' )

#if ($canEdit && $relyingParty.editable)
#set ( $editable = 1 )
#end
#if ($newEntity )
#set ( $editable = 1 )
#end

#set ( $void = $dateFormatter.applyPattern("MM/dd/yyyy") )

## metadata



## tab entry
<div id="metaSpContainer" dojoType="dijit.layout.ContentPane" title="Metadata" selected="true" style="overflow:hidden"
   doLayout="false" >

  <div id="metaViewLinks" class="tabbox" dojoType="dijit.layout.ContentPane" doLayout="false">
  <ul role="navigation">
  #if ($editable)
   <li class="sublist" >Actions:</li>
   <li class="sublist" > <a id="metaEditLink" role="button" tabindex="0" aria-label="edit metadata"
          href="javascript:dijit.byId('metaEditDialog').show();">Edit</a>
   </li>
  #if ( ! $newEntity )
   <li class="sublist" > <a id="metaDeleteLink" role="button" tabindex="0" aria-label="delete metadata"
          href="javascript:iam_showTheDialog('metaDeleteDialog',[]);">Delete</a>
   </li>
  #end
  #end
  </ul>
  </div>

 <div id="metaViewPane" tabindex="0" dojoType="dijit.layout.ContentPane" doLayout="false" style="overflow:auto;"
    onShow="adjustSpPaneSize('metaViewPane')" >

<h3 class="">Organization</h3>

<ul class="iamlist">
    #set ( $org = $relyingParty.organization )
    #if ( $org.name )
    <li><h4 class="dt">Name</h4><div class="dd">$org.name</div></li>
    #end
    #if ( $org.displayName )
    <li><h4 class="dt">Display </h4><div class="dd">$org.displayName</div></li>
    #end
    #if ( $org.url )
    <li><h4 class="dt">url </h4><div class="dd">$org.url</div></li>
    #end

   #foreach ( $ct in $relyingParty.contactPersons )
    <li>
      <h4 class="dt">$!ct.type</h4>
       <div class="dd">
     #if ( $ct.givenName || $ct.surName )
      $!ct.givenName $!ct.surName<br>
     #end
     #if ( $ct.company )
      $!ct.company<br>
     #end
     #if ( $ct.email )
      $!ct.email<br>
     #end
     #if ( $ct.phone )
      $!ct.phone<br>
     #end
      </div>
    </li>
   #end
 </ul>

<h3 >Metadata details</h3>
   
<ul class="iamlist" >

   ## ProtocolSupportEnumerations
      <li>
      <h4 class="dt">Protocols</h4>
      <div class="dd">
   #foreach ( $ps in $relyingParty.protocolSupportEnumerations )
      $ps <br>
   #end
      </div>
     </li>

   ## KeyInfo

   <li>
      <h4 class="dt">KeyInfo</h4>
        <div class="dd">
         <ul class="iamlist">
       #foreach ( $key in $relyingParty.keyDescriptors )
         <li><h5 class="dt dt2">Cert</h5><div class="dd ">Name: $!key.keyName
         #if ( $key.cert )
          <br>Subject: $!{key.cert.dn}
          <br>Issuer: $!{key.cert.issuerDn}
          <br>Issued: $dateFormatter.format($key.cert.issued)
          <br>Expires: $dateFormatter.format($key.cert.expires)
         #end
          </div>
         </li>
       #end
         </ul>
        </div>

   </li>


   ## Nameid

      <li>
      <h4 class="dt">NameId</h4>
       <div class="dd">
    #set ($nids=0)
    #foreach ( $name in $relyingParty.nameIDFormats )
      $name<br>
      #set ($nids=1)
    #end
   #if ($nids==0)
      (<i>none specified</i>)
   #end
       </div>
      </li>


   ## ACS

    <li>
      <h4 class="dt" valign="top">ACS:</h4>
      <div class="dd">
         <ul class="iamlist">
   #foreach ( $acs in $relyingParty.assertionConsumerServices )
         <li><h5 class="dt dt2">$acs.index</h5><div class="dd">
         binding: $acs.binding<br>
         location: <tt>$acs.location</tt>
         </div></li>
         </hr>
   #end
      </div>
     </li>
</du>


</div>
#if ($editable)
#parse ( "browser/meta_edit.vm" )
#end

</div>

## certificate PEM popup
<div id="metaCertDialog" data-dojo-type="dijit.Dialog" title="Certificate PEM" style="display:none">
<div id="metaCertDialog_content">

 <div class="certbox"><pre>$key.certificate</pre></div>
</div>
</div>



