#* ========================================================================
 * Copyright (c) 2013 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

#parse ( 'definitions.vm' )

#if ($canEdit && $relyingParty.editable)
#set ( $editable = 1 )
#end
#if ($newEntity )
#set ( $editable = 1 )
#end

#set ( $void = $dateFormatter.applyPattern("MM/dd/yyyy") )

## metadata



#set ($ahide = 'aria-hidden="true"')
## tab entry
<div id="metaSpContainer" dojoType="dijit.layout.ContentPane" title="Metadata" selected="true" style="overflow:hidden"
   doLayout="false" >

  <div id="metaViewLinks" class="tabbox" dojoType="dijit.layout.ContentPane" doLayout="false">
  <ul role="navigation">
  #if ($editable)
  ## <li class="sublist" >Actions:</li>
   <li class="sublist" > <a id="metaEditLink" role="button" tabindex="0" aria-label="Edit this information"
          href="javascript:dijit.byId('metaEditDialog').show();">Edit</a>
   </li>
  #if ( ! $newEntity )
   <li class="sublist" > <a id="metaDeleteLink" role="button" tabindex="0" aria-label="Delete this service provider"
          href="javascript:iam_showTheDialog('metaDeleteDialog',[]);">Delete</a></li>
  #end
  #end
  </ul>
  </div>

 <div id="metaViewPane" tabindex="0" dojoType="dijit.layout.ContentPane" doLayout="false" style="overflow:auto;"
    onShow="adjustSpPaneSize('metaViewPane')" >

<h3 class="">Organization</h3>

<ul class="iamdu">
    #set ( $org = $relyingParty.organization )
    #if ( $org.name )
    <li><div class="dt" $ahide>Name</div><div class="dd" aria-label="Org Name">$org.name</div></li>
    #end
    #if ( $org.displayName )
    <li><div class="dt" $ahide>Display </div><div class="dd" aria-label="Display name">$org.displayName</div></li>
    #end
    #if ( $org.url )
    <li><div class="dt" $ahide>url </div><div class="dd" aria-label="org url">$org.url</div></li>
    #end

   #foreach ( $ct in $relyingParty.contactPersons )
    <li>
      <div class="dt" $ahide >$!ct.type</div>
       <div class="dd" aria-label="$!ct.type contact">
     #if ( $ct.givenName || $ct.surName )
      $!ct.givenName $!ct.surName<br>
     #end
     #if ( $ct.company )
      $!ct.company<br>
     #end
     #if ( $ct.email )
      $!ct.email<br>
     #end
     #if ( $ct.phone )
      $!ct.phone<br>
     #end
      </div>
    </li>
   #end
 </ul>

<div role="heading" class="iamdlhdr">Metadata details</div>
   
<ul class="iamdu" >

   ## ProtocolSupportEnumerations
      <li>
      <div class="dt" $ahide>Protocols</div>
      <div class="dd" aria-label="Protocols">
   #foreach ( $ps in $relyingParty.protocolSupportEnumerations )
      $ps <br>
   #end
      </div>
     </li>

   ## KeyInfo

        <li>
      <div class="dt" $ahide valign="top">KeyInfo</div>
        <div class="dd" aria-label="Keyinfo"><table class="iamtable" role="list">
       #foreach ( $key in $relyingParty.keyDescriptors )
          <tr role="listitem"><td nowrap="nowrap">Key Name:</td><td>$!key.keyName <td><tr>
         #if ( $key.cert )
         <tr role="listitem"><td align="left">Subject:</td><td>$!{key.cert.dn}</td></tr>
         <tr role="listitem"><td align="left">Issuer:</td><td>$!{key.cert.issuerDn}</td></tr>
         <tr role="listitem"><td align="left">Issued:</td><td>$dateFormatter.format($key.cert.issued)</td></tr>
         <tr role="listitem"><td align="left">Expires:</td><td>$dateFormatter.format($key.cert.expires)</td></tr>
         ### <tr><td align="left">PEM:</td><td><span class="certbox">$key.certificate</span></td></tr>
         #end
       #end
         </table></div>
      </li>


   ## Nameid

      <li>
      <div class="dt" $ahide>NameId</div>
       <div class="dd" aria-label="name id">
    #set ($nids=0)
    #foreach ( $name in $relyingParty.nameIDFormats )
      $name<br>
      #set ($nids=1)
    #end
   #if ($nids==0)
      (<i>none specified</i>)
   #end
       </div>
      </li>


   ## ACS

    <li>
      <div class="dt" $ahide>ACS</div>
      <div class="dd" aria-label="ACS">
       <table class="iamtable" role="list">
   #foreach ( $acs in $relyingParty.assertionConsumerServices )
     <tr role="listitem"><td>$acs.index</td><td nowrap="nowrap">$acs.binding</td><tr>
     <tr role="listitem"><td></td><td nowrap="nowrap"><tt>$acs.location</tt></td><tr>
   #end
      </table></div>
     </li>
#*
      <dt>ACS</td>
         <dd><dl class="iamdl2">
   #foreach ( $acs in $relyingParty.assertionConsumerServices )
      <dt>$acs.index</dt><dd>
          $acs.binding
          <br><tt>$acs.location</tt>
      </dd>
   #end
      </dl></dd>


*#

</du>


</div>
#if ($editable)
#*
  <div id="metaEditLinks" role="presentation" class="tabbox" dojoType="dijit.layout.ContentPane" doLayout="false" style="display:none">
  <ul role="navigation">
  ## <li class="sublist" >Actions:</li>
   <li class="sublist" > <a id="metaEditLink" role="button" tabindex="0" aria-label="Save changes"
          href="javascript:saveRP('${relyingParty.entityId}');"><span style="text-decoration: underline">S</span>ave</a>
   </li>
   <li class="sublist" > <a id="metaEditLink" role="button" tabindex="0" aria-label="Cancel changes"
          href="javascript:handleGroupViewBtn();"><span style="text-decoration: underline">C</span>ancel</a>
   </li>
  </ul>
  </div>
*#
#parse ( "browser/meta_edit.vm" )
#end

</div>

## certificate PEM popup
<div id="metaCertDialog" data-dojo-type="dijit.Dialog" title="Certificate PEM" style="display:none">
<div id="metaCertDialog_content">

 <div class="certbox"><pre>$key.certificate</pre></div>
</div>
</div>



