#* ========================================================================
 * Copyright (c) 2009-2013 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

## sp registry webservice (main page)

#parse ( 'definitions.vm' )

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 <title>Service Provider Registry</title>

<script>
dojoConfig = {
   "async": true,
   "parseOnLoad": false,
   "isDebug": true,
   packages: [{
      name: "iam",
      location: "/js"
   }]
};
</script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js" data-dojo-config="async: true"></script>
  <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/resources/dojo.css"/>
  <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/dojo/1.8.3/dijit/themes/tundra/tundra.css"/>

<link rel="stylesheet" type="text/css" href="/css/iam-dojo.css"/>

## add ie7 css if needed
<script>
    require(["dojo/query",
     "dojo/dom-construct",
     "dojo/NodeList-manipulate"], function(query, dom) {
         var ie=document.documentMode;
         if (typeof ie != 'undefined' && ie<8) {
            var link = dom.create("link", {
                  type  : "text/css",
                  rel   : "stylesheet",
                  href  : '/css/iam-ie.css'
               });
            console.log('adding css for ie7');
            query("head").append(link);
         }
    });
</script>

<script type="text/javascript" src="/js/iam-dojo.js"></script>
<script type="text/javascript" src="/sp_static/sp.js"></script>

<script>
    require(["dojo/dom",
     "dojo/parser",
     "dijit/MenuBar",
     "dijit/Menu",
     "dijit/MenuItem",
     "dijit/Dialog",
     "dijit/TooltipDialog",
     "dijit/PopupMenuBarItem",
     "dijit/form/Button",
     "dijit/form/RadioButton",
     "dijit/form/DropDownButton",
     "dijit/form/TextBox",
     "dijit/form/Textarea",
     "dijit/form/Select",
     "dijit/form/SimpleTextarea",
     "dijit/layout/ContentPane",
     "dijit/layout/TabContainer",
     "dijit/layout/BorderContainer",
     "iam/Dialog",
     "dojo/domReady!"], function(dom,parser) {
       parser.parse();
       onLoad();
 });
</script>


<script>
v_root='$root';
v_vers='$vers';
v_remoteUser='$remote_user';
v_xsrf = '${xsrf}';
</script>
</head>

<body class="tundra" id="documentbody">

## banner popups and menus


<div id="helpTimeout" data-dojo-type="iam/Dialog" title="Time's up"
    data-dojo-props="submitLabel:'Refresh', submitAction:'location.reload()'"
    $hide>
   Your session with the Service Provider Registry has expired.  Please refresh the page to continue working.
</div>

<div id="helpAbout" data-dojo-type="iam/Dialog" title="About" $hide data-dojo-props="submitLabel:'Close', submitAction:'console.log(\'close\')'">
   Identity and Access Management
<br/>
Service Provider Registry 2.0.0
<br/>
Revision 05/17/2013
</div>

<div id="helpServiceProviders" data-dojo-type="iam/Dialog" title="Service Providers" $hide>
The Service Provider list shows all service providers (SP) known to the UW
identity provider service (IdP).   These are from InCommon metadata and local metadata.
<p>
Use the "Search" area to find a particular service provider.
<p>
Use the "Add new" link to add a service provider to the registry.
We will attempt to retrieve your SP's metadata from a Metadata endpoint.
(That may only work with a shibboleth SP).
</div>


<div id="helpMetadata" data-dojo-type="iam/Dialog" title="Metadata" $hide>
Metadata for InCommon service providers is provided by InCommon and cannot
be edited here.
<p>
You may edit metadata for ad-hoc service providers if you are an owner of
the SP's domain.
Most of the metadata detail, protocols, keyinfo, etc. are provided by your SP's
Metadata endpoint.  You have to provide the name, descriptions, and contacts.
<p>
</div>

<div id="helpAttributes" data-dojo-type="iam/Dialog" title="Attributes" $hide>
Atributes are released to your SP through one or more policies.
<p>
<ul>
<li>Core policies apply to all *.washington.edu and *.uw.edu service providers.</li>
<li>Ad-hoc policies apply to individual service providers.</li>
<li>RandS policies apply to InCommon identified 'Research and Scholarship' service providers.</li>
</ul>
<p>
If you are the owner of the service provider you may request attributes to 
be released to it.  Please explain why you need each attribute.  If you are requesting
group memberships you <b>must</b> specify which groups you want.
</div>


<div id="helpGateway" data-dojo-type="iam/Dialog" title="SAML Gateways" $hide>
  The UW is experimenting with a Social to SAML gateway. 
<p>
To your SAML service provider (a shibboleth SP, for example) the gateway 
looks like any other SAML identity provider.  You configure it accordingly.
<p>
When you send a user to the gateway IdP, the gateway redirects them to
the social identity provider (Google is supported at present) for login.
Authentication information from Google is translated by the gateway
into a SAML assertion, which is returned to your SP in the normal way.
<p>
So, in effect,
<p>
<ul>
<li>To your user it looks like a Google login, but</li>
<li>to your SP this looks like a SAML login.</li>
</ul>
<p>
See the <a href="https://wiki.cac.washington.edu/x/o9o6Aw">Social-to-SAML gateway</a> for more information.
</div>

<div id="helpDNS" data-dojo-type="iam/Dialog" title="DNS 'ownership'" $hide>
   You must be registered with UW's Network Operations as a registered contact for your DNS name.
   For more information, see 
   <a href="https://wiki.cac.washington.edu/x/eRcrAQ">Managing DNS Names For Infrastructure Services Access</a>.
</div>

#*
<div id="okDialog" data-dojo-type="dijit.Dialog" title="" style="display:none;" >
<div id="okDialog_content">
<span id="okDialogMessage"></span>
    <button id="okDialogClose" dojoType="dijit.form.Button" type="button" class="subButton" onClick="iam_hideTheDialog('okDialog')">
      Close
    </button>
</div>
</div>
 *#

#parse ( "browser/new.vm" )

## page
## loader flash
<div id="theflash" data-dojo-type="dijit.layout.ContentPane" style="width: 100%; height:100%">
<div style="width: 100%; height:50%">
</div>
<div align="center"><img src="/circle_loader.gif">
</div>
</div>


<div id="thepage" data-dojo-type="dijit.layout.BorderContainer"  gutters="false" liveSplitters="true" style="width: 100%; height: 100%">

## banner
<div id="banner" class="container" data-dojo-type="dijit.layout.ContentPane" region="top" splitter="false">
    <span id="logo"><a tabindex=-1 href="javascript:showHomePanel()" title="University of Washington"><img src="/UWw.gif" alt="UW" /></a></span>
    <span id="title"><a tabindex=-1 href="javascript:showHomePanel()">Service Provider Registry</a></span>
    <ul id="navigation">

        <li>$!{notice}</li>
        <li>
        <div data-dojo-type="dijit.form.DropDownButton">
            <span>
                $remote_user
            </span>
           <div data-dojo-type="dijit.Menu" id="userMenu" $hide>
#*
               <div data-dojo-type="dijit.MenuItem" data-dojo-props="onClick:function(){
                       dijit.byId('userPrefsDialog').refresh();
                       dijit.byId('userPrefsDialog').show();
                     }">
                Preferences
               </div>
*#
               <div data-dojo-type="dijit.MenuItem" data-dojo-props="onClick:function(){document.location='${root}${vers}/logout/';}">
                Logout
               </div>
           </div>
        </div>
        </li>
        </li>
        <div data-dojo-type="dijit.form.DropDownButton">
            <span>
                Help
            </span>
           <div data-dojo-type="dijit.Menu" id="helpMenu">
               <div data-dojo-type="dijit.MenuItem" data-dojo-props="onClick:function(){dijit.byId('helpServiceProviders').show();}">
                Service Providers
               </div>
               <div data-dojo-type="dijit.MenuItem" data-dojo-props="onClick:function(){dijit.byId('helpMetadata').show();}">
                Metadata
               </div>
               <div data-dojo-type="dijit.MenuItem" data-dojo-props="onClick:function(){dijit.byId('helpAttributes').show();}">
                Attributes
               </div>
               <div data-dojo-type="dijit.MenuItem" data-dojo-props="onClick:function(){dijit.byId('helpGateway').show();}">
                Gateways
               </div>
               <div data-dojo-type="dijit.MenuItem" data-dojo-props="onClick:function(){dijit.byId('helpDNS').show();}">
                DNS ownership
               </div>
               <div data-dojo-type="dijit.MenuItem" data-dojo-props="onClick:function(){dijit.byId('helpAbout').show();}">
                About the registry
               </div>
           </div>
        </div>
        </li>
    </ul>

</div>  ## banner containe
## <div id="messageArea" data-dojo-type="dijit.layout.ContentPane" region="top" splitter="false" style="height:15px"></div>

## show the page when the dom is ready
<script>
  function onLoad() {
    require(["dojo/dom", "dijit/registry", "dojo/on", "dojo/domReady!"], function(dom, registry, on) {

      // drop the flash and show the page
         dom.byId('theflash').style.display = 'none';
         dom.byId('thepage').style.display = '';
         dom.byId('thepage').style.width = '100%';
         dom.byId('thepage').style.height = '100%';
         // registry.byId('thepage').layout();
         // registry.byId('thepage').resize();

      // start with SP list
      loadSpList();
      // dojo.connect(dojo.global, "onhashchange", iam_hashHandler);
      // dojo.connect(dijit.byId('filterSpList'), 'onkeyup', checkSpFilter);
      on(dom.byId('filterSpList'), 'keyup', checkSpFilter);
      #if ($timeLeft)
      to_interval = setInterval(function(){dijitRegistry.byId('helpTimeout').show();clearInterval(to_interval);}, ${timeLeft}000);
      console.log('session timeout in  ${timeLeft}000 ms');
      #end
  });
}
</script>



<div id="leftsideIndex" data-dojo-type="dijit.layout.ContentPane" region="left" splitter="true" minSize="100">

 <div id="indexPanel" data-dojo-type="dijit.layout.ContentPane" style="overflow:hidden" >

  <div id="indexTitlebar">
    <div class="indexLeft">
       <span id="myGroupsTitle">Service Providers</span>
    </div>
    <div class="indexRight">
       <span><a tabindex=0 href="javascript:dijit.byId('metaNewDialog').show()">Add&nbsp;new</a></span>
    </div>
  </div>

  <div id="indexSubtitlebar">
     <div class="groupsRight">
      Search <input id="filterSpList" style="background-color:#ffffff;" data-dojo-type="dijit.form.TextBox" />
     </div>
  </div>

 <div class="indexList" id="spIndexPane" data-dojo-type="dijit.layout.ContentPane"
         onLoad="adjustSPIndexSize()"  style="overflow:auto">
     <i>Retriving the list of service providers</i>
  </div>

 </div>
</div>





</script>


## right side

<div id="spDisplay" data-dojo-type="dijit.layout.ContentPane" region="center" splitter="true" style="margin-top:6px;overflow:hidden;display:none" >
   <div id="spPane" data-dojo-type="dijit.layout.ContentPane" >
   </div>
</div>
<div id="homeDisplay" data-dojo-type="dijit.layout.ContentPane"  region="center" splitter="true" style="margin-top:6px;overflow:auto;" >
#parse ( 'browser/home.vm' )
 </div>




## footer

<div data-dojo-type="dijit.layout.ContentPane" region="bottom" splitter="false">

<div id="footer" data-dojo-type="dijit.layout.ContentPane">
    <span id="footlogo"><a href="http:/www.uw.edu/" title="University of Washington"><img src="/uofw-small.gif" alt="UW" /></a></span>
    <span id="footcenter">
    <ul id="navigation">
        <li><a href="mailto:help@uw.edu">CONTACT US</a></li>
        <li><a href="http://www.washington.edu/online/privacy/">PRIVACY</a></li>
        <li><a href="http://www.washington.edu/online/terms/">TERMS</a></li>
    </ul>
    </span>
    <span id="footright">
    <ul id="navigation">
        <li>UW Information Technology</li>
    </ul>
    </span>
</div>

</div>
</div>
</body>
</html>

