#* ========================================================================
 * Copyright (c) 2013 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#
##
## proxy tab
##

<div id="proxySpContainer" dojoType="dijit.layout.ContentPane" title="Gateways" selected="false" style="overflow:hidden"
   onClose="return(true)" oLayout="false" >

  <div id="proxyViewLinks" class="tabbox" dojoType="dijit.layout.ContentPane" doLayout="false" >
  <ul>
  #if ($canEdit)
  <li class="sublist" >Actions:</li>
  <li class="sublist" ><a tabindex="0" role="button" aria-label="Edit gateway information"
       href="javascript:iam_showTheDialog('proxyEditDialog',['sp/proxylib'])">Edit</a></li>
  #end
  </ul>
  </div>

<div id="proxyViewPane" tabindex="0" dojoType="dijit.layout.ContentPane" doLayout="false" style="overflow:auto;"
   onShow="adjustSpPaneSize('proxyViewPane')">


#set ($google_status = 0 )

## This registry allows you to configure access to the social-to-saml authentication gateway.
<p>

<h3>SAML Gateways</h3>

  #foreach ( $idp in $proxy.ProxyIdps )
    <h4>$idp.idp</h4>
    <ul class="iamlist">
    <li>
    <h5 class="dt">Client ID:</h5><div class="dd">$!{idp.clientId}</div>
    </li>
    </ul>
    <hr>
  #end

</div>
</div> 

#if ($canEdit)
#parse ( "browser/proxy_edit.vm" )
#end

