#* ========================================================================
 * Copyright (c) 2013 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#
##
## proxy tab
##

#macro(gatewayItemConfig $name $idpProxy)
<h4 class="dt" valign="top">$name</h4>
<div class="dd">
  #if($idpProxy)
  <span class="dt dt3">Client ID:</span>
  <span class="dd dd3">#X($!{idpProxy.clientId})</span>
  #else
  <i>Not configured</i>
  #end
</div>
#end

<div id="proxySpContainer" dojoType="dijit.layout.ContentPane" title="Gateway" selected="false" style="overflow:hidden"
     onClose="return(true)" oLayout="false" >

  <ul class="buttonBar" role="navigation">
    #if ($canEdit)
    <li><button dojoType="dijit.form.Button" type="button" onClick="iam_showTheDialog('proxyEditDialog',['sp/proxylib'])">Edit</button></li>
    #end
  </ul>

  <div id="proxyViewPane" tabindex="0" dojoType="dijit.layout.ContentPane" doLayout="false" style="overflow:auto;"
       onShow="adjustSpPaneSize('proxyViewPane')">

    ## This registry allows you to configure access to the social-to-saml authentication gateway.
    <p>
      <h3>SAML Gateway</h3>
      <ul class="iamlist">
        <li>
          #gatewayItemConfig("Google", $proxy.getProxyIdp("Google"))
        </li>
        <li>
          #gatewayItemConfig("Facebook", $proxy.getProxyIdp("Facebook"))
        </li>
      </ul>

  </div>
</div> 

#if ($canEdit)
#parse ( "browser/proxy_edit.vm" )
#end

