#* ========================================================================
 * Copyright (c) 2012-2013 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#
##

## helpers
<div id="googleGateHelp" dojoType="dijit/Dialog" title="Google gateway" $hide>
The Google gateway allows your SAML SP users to authenticate with their Google identities.
<p>
Your Client ID and Client Secret go into the Gateway form.
<p>
See the <a href="https://wiki.cac.washington.edu/x/o9o6Aw" target="spghelp">Social-to-SAML gateway</a> for more information.
</div>

<div id="liveidGateHelp" dojoType="dijit/Dialog" title="Google gateway" $hide>
The LiveID gateway allows your SAML SP users to authenticate with their LiveID identities.
<p>
Activate the LiveID gateway by entering your liveid application's id and secret in the gateway form.
<p>
See the <a href="https://wiki.cac.washington.edu/x/o9o6Aw">Social-to-SAML gateway</a> for more information.
</div>


<div id="proxyEditDialog" data-dojo-type="dijit/Dialog" title="Edit proxy data for ${relyingPartyId}" ${hide}>

#set ($google_status = 0 )
#set ($liveid_status = 0 )

<div class="dijitDialogPaneContentArea">

<div style="float:right;font-size:.8em"><a href="https://wiki.cac.washington.edu/x/o9o6Aw" target="spghelp">help</a></div>
<h3>SAML Gateways</h3>
## <div aria-label="entityid">${relyingPartyId}</div>


## we actually support only a subset of possible proxies
     #set ($google = $proxy.getProxyIdp("Google"))
     #set ($liveid = $proxy.getProxyIdp("LiveID"))

    <h4>Google</h4>

    <ul class="iamlist">
    <li><label for="google_cid" class="dt">Client ID</label>
         <div class="dd"><input id="google_cid" dojoType="dijit.form.TextBox" size="60"
            value="#X($!{google.clientId})"
          /></div>
    </li>
    <li><label for="google_cpw" class="dt">Client Secret</label>
         <div class="dd"><input id="google_cpw" dojoType="dijit.form.TextBox" size="60"
            value="#X($!{google.clientSecret})"
          /></div>
    </li>
    </ul>

    <hr>


    <h4>LiveID</h4>

    <ul class="iamlist">
    <li><label for="liveid_cid" class="dt">Client ID</label>
         <div class="dd"><input id="liveid_cid" dojoType="dijit.form.TextBox" size="60"
            value="#X($!{liveid.clientId})"
          /></div>
    </li>
 
    <li><label for="liveid_cpw" class="dt">Client Secret</label>
         <div class="dd"><input id="liveid_cpw" dojoType="dijit.form.TextBox" size="60"
            value="#X($!{liveid.clientSecret})"
          /></div>
    </li>
   </ul>

</div>
 <div class="dijitDialogPaneActionBar">
    <button dojoType="dijit.form.Button" type="button" onClick="proxy_saveProxy('${relyingPartyId}')">Save changes</button>
    <button dojoType="dijit.form.Button" type="button" onClick="iam_hideTheDialog('proxyEditDialog')">Close</button>
 </div>



</div>

