#* ========================================================================
 * Copyright (c) 2011 The University of Washington
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 *#

##
## Templates for new rp register page 
##

#parse ( "crumbs.vm" )

##
## ----- Left side content -----
##

<div id="PageContent">
<table cellpadding="3" >
<tr>
<td valign="top" height="400" width="10"> </td>
<td valign="top" align="left">

##
## ----- Main policy list page -----
##

<p class="title">Register a new service provider</p>

#if ( $errmsg )
<div class="err">$errmsg</div>
#end
<p class="notice">
You must be the registered owner of the DNS name of your service provider.
</p>
<hr/>
<p/>
<h3>Let us retrieve your SP's metadata</h3>
<p>
If your SP is configured to show its metadata, the default configuration for most Shibboleth installations,
we can retrieve most of the information we need.
</p>

Enter the DNS name of your Service Provider.

<p/>
<form type="GET" action="$root$vers/rp">
<input type="hidden" name="view" value="lookup">
<input id="dns" type="text" width="40" name="dns" value="">

<p/>
<ul>
<p/>
<li>
Add the port number to the domain if your service uses a nonstandard port, e.g. <tt>example.com:9443</tt>
</li>
<p/>
<li>
The registry will attempt to retrieve metadata from your SP itself,
from the standard metadata endpoint, /Shibboleth.sso/Metadata.
Make sure that address is public.  There are no private data in your
SP's metadata, so there is normally no reason to restrict 
access to this endpoint.
</li>
</ul>
<p>

<input class="chooserbutton" type="submit" name="doit" value="Lookup">
</form>

<p/>
<hr/>
<p/>
or
<p/>
<h3>Enter your SP's metadata manually</h3>
<p>

If online metadata is not available you may enter it manually.
 
<p/>
<form type="GET" action="$root$vers/rp">
<input type="hidden" name="view" value="manual">
<input class="chooserbutton" type="submit" name="doit" value="Do it manually">
</form>

<p/>
<hr/>

##
## ----- right side extra text ----
##

</td>

<td width="20"></td>
<td valign="top" align="left" width="35%">

<p height="100px">&nbsp;</p>


<table class="helptext" cellpadding="4px">
<tr><th align="left" colspan="99">Metadata Retrieval</td></tr>
<tr><td width="10px"/><td valign="top" colspan="2">Metadata retrieved from your 
   SP is generally complete in its technical details, but does not have
   contact information.  You will supply that.
   </td></tr>

<tr><th align="left" colspan="99">DNS ownership</td></tr>
<tr><td width="10px"/><td valign="top" colspan="2">
   In order for us to register your service provide you must be known to us
   as the responsible person for your service provider's host.
   Contact <a href="mailto:netops@uw.edu">Network Operations</a> if you feel you should be 
   the owner of a domain.
   </td></tr>

</table>


##
## ----- end -----
##

</td></tr></table>


</div>

## error and status messages
<div id="requestStatusDiv" class="notice">&nbsp;
</div>
<div class="status">$!{status}
</div>

